body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    -webkit-font-smoothing: antialiaded;
    -moz-osx-font-smoothing: grayscale;
    background: #0f1B21;

}
code {
    font-family: source-code-pro, Menlo, Manaco, Consolas, 'Courier New',
    monospace;
}
